@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f4f6;
}

/* Remove default link styles */
a {
  text-decoration: none;
}

/* Smooth button animation */
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.03);
}

/* Nice Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}